:root {
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: #d8d6d3;
    background: #191b1c;
    min-height: 100vh;

    @media (min-width: 992px) {
        .container {
            max-width: 768px;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}
