ul{
    gap: 1rem 0;
}

.project {
    margin: 0;
    text-align: center;

    img {
        border-radius: 12px;
        mask: var(--m);
        filter: grayscale(.5);
        box-shadow: 1px 2px 4px black;
        transition: 0.3s linear;
        object-fit: cover;
        min-height: 130px;
        max-height: 130px;
        max-width: 230px;
    }
    img:hover {
        -webkit-mask-position: 7.5% 50%, 92.5% 50%;
        mask-position: 7.5% 50%, 92.5% 50%;
        filter: grayscale(0);
    }
}
