#about {
    section {
        h2 {
            width: fit-content;
            font-weight: bold;

            span {
                height: 5px;
                width: 100%;
                border-radius: 50px;
                background-color: #525252;
                margin-top: 0.1rem;
            }
        }
    }

    .bg {
        background-color: #5252523b;
        width: 100%;
        padding: 1rem 0;
        border-radius: 0.5rem;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }

    .work {
        p {
            text-indent: 1rem;
            text-align: justify;
        }
    }

    .hover {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        transition: background 0.2s ease-in;
    }

    .hover:hover {
        background: #f0830621;
    }
}
