#projects {
    .custom_container {
        max-width: 517px;
    }

    h2 {
        width: fit-content;
        font-weight: bold;

        span {
            height: 5px;
            width: 100%;
            border-radius: 50px;
            background-color: #20202380;
            margin-top: 0.1rem;
        }
    }

    a {
        text-decoration: none;
        color: unset;
    }
}
